<nav id="menu" class="main-menu">
    <ul>
        <li><span><a href="#0">Categories</a></span>
            <ul>
                <li><a href="/courses/web-development">Web development</a></li>
                <li><a href="/courses/mobile-development">Mobile development</a></li>
                <li><a href="/courses/data-science">Data Science</a></li>
                <li><a href="/courses/game-development">Game development</a></li>
                
            </ul>
        </li>
        <li><span><a href="#0">Courses</a></span>
            <ul>
                <li><a href="#">Courses grid</a></li>
                <li><a href="#">Courses grid sidebar</a></li>
                <li><a href="#">Courses list</a></li>
                <li><a href="#">Courses list sidebar</a></li>
                <li><a href="#">Course detail</a></li>
                <li><a href="#">Course detail working form</a></li>
                <li><a href="#">Admission wizard</a></li>
                <li><a href="#">Teacher detail</a></li>
            </ul>
        </li>
        <li><span><a href="#0">Pages</a></span>
            <ul>
                <li><a href="#0">Menu 2</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">404 page</a></li>
                <li><a href="#">Agenda Calendar</a></li>
                <li><a href="#">Faq</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </li>
        <li><span><a href="#0">Extra Pages</a></span>
            <ul>
                <li><a href="#">Media gallery</a></li>
                <li><a href="#">Cart page 1</a></li>
                <li><a href="#">Cart page 2</a></li>
                <li><a href="#">Cart page 3</a></li>
                <li><a href="#">Responsive pricing tables</a></li>
                <li><a href="#">Coming soon</a></li>
                <li><a href="#">Icon pack 1</a></li>
                <li><a href="#">Icon pack 2</a></li>
                <li><a href="#">Icon pack 3</a></li>
                <li><a href="#">Icon pack 4</a></li>
            </ul>
        </li>				
    </ul>
</nav>