<div class="jumbotron text-left">
    <h4>The Web Developer Bootcamp 2020</h4>
    <h6 class="lead">JUST COMPLETELY REDONE - The only course you need to learn
        web development - HTML, CSS, JS, Node, and More!</h6>
    <hr class="my-4">
    <p>Rating: 4.7 out of 5 4.7 (188,802 ratings) 619,337 students</p>
    <p>Last updated 11/2020</p>
</div>