<div id="profile-bg">
    <div class="container margin_120_500">
        <div class="row">
            <div class="col-lg-8">
                <div class="box_cart">                    
                    <div class="form_title">
                        <h3><strong>1</strong>Your Details</h3>
                        <p>
                            Mussum ipsum cacilds, vidis litro abertis.
                        </p>
                    </div>
                    <div class="step">
                        <div class="row">
                            <div class="col-sm-8">
                                <span class="input">
                                    <input class="input_field" type="text" value="hiep">
                                    <label class="input_label">
                                        <span class="input__label-content">Name</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <span class="input">
                                    <input class="input_field" type="email" value="doanquochiep32@gmail.com">
                                    <label class="input_label">
                                        <span class="input__label-content">Email</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="#" class="btn_1 full-width">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <aside class="col-lg-4" id="sidebar">
                <div class="box_detail">
                    <div id="total_cart">
                        Total <span class="float-right">69.00$</span>
                    </div>
                    <div class="add_bottom_30">Lorem ipsum dolor sit amet, sed vide <strong>moderatius</strong> ad. Ex
                        eius soleat sanctus pro, enim conceptam in quo, <a href="#0">brute convenire</a> appellantur an
                        mei.</div>
                    <a href="#" class="btn_1 full-width">Checkout</a>
                    <a href="courses-grid-sidebar.html" class="btn_1 full-width outline"><i class="icon-right"></i>
                        Continue Shopping</a>
                </div>
            </aside>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>